@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body{
	font-family: 'Oxygen', sans-serif;
	background: #E1E8F0;
	margin: 0;
}

#aanvraagbtn{
	width:390px;
	height:99px;
	margin-top:30px;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #32617A;
	/* Datastreams - White */
	background: #FFFFFF;
	/* Shadow Button Datastreams */
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	border-style: none;
}

.block{
	border-style:solid;
	border-color: black;
	width:100px;
	height:100px;
}

#popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-content: center;
}

#popup-form {
	width: 200px;
	height: 500px;
	background: white;
	border-radius: 10%;
}

#fases {
	display:flex;
justify-content: space-evenly;
	transform: translateY(-40px);
/*	font-weight: bold;
	font-size: 24px;*/
}

h2{
	margin-bottom: 10px;

}

h3{
	margin-bottom: 0;

}

h5{
	margin-top:9px;
	position:relative;
	line-height: 0.1;
	font-size:14px;
	font-weight: lighter;

}

p{
	margin-top:2px;
}

#card{

	max-width: 350px;
	max-height: auto;
	padding-left:20px;
	padding-right:20px;
	padding:32px;
	/* Datastreams - White */
	margin-top:30px;
	background: #FFFFFF;
	/* Shadow Button Datastreams */
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
    transition: .2s;
	/* cursor: pointer; */
	position: relative;
	box-sizing: border-box;
}

/* #card:hover {
	transform: translateY(-2px);
    background-color: #fdfdfe;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
} */

.buttonOpenPopUp {
	border: none;
	background: unset;
	font-size: 35px;
	color: #bbb;
	cursor: pointer;
	outline: none;
	position: absolute;
	top: 32px;
	right: 32px;
	transition: .2s;
}

.buttonOpenPopUp:hover {
	color: #32617A;
}

#circleID{

	height: 50px;
	width: 50px;
	margin-top:15px;
	margin-right:20px;
	background-color: #bbb;
	border-radius: 50%;
	text-align: center;
	line-height:50px;
	display: inline-block;
	font-family: Oxygen;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
}

#nameholder{
	display:flex;
}

#filetype{

width: 51px;
height: 29px;
left: 1527px;
top: 459px;
line-height:29px;
text-align: center;
color:white;
background: #32617A;
border-radius: 100px;
margin-top:10px;
font-family: Oxygen;
font-style: normal;
font-weight: normal;
font-size: 16px;
}

#filetypes.selected {
	border: 2px solid #32617A;
}

#afwachting{
	border: 4px solid #32617A;
box-sizing: border-box;
border-radius: 10px;
line-height:31px;
text-align:center;
padding-bottom: 25px;
padding-top:25px;
margin-top:30px;
font-family: Oxygen;
font-style: normal;
font-weight: bold;
	color: #32617A;
	text-transform: uppercase;
}

#afwachting2{
	border: 4px solid #B8E2C4;
box-sizing: border-box;
border-radius: 10px;
line-height:31px;
text-align:center;
padding-bottom: 25px;
padding-top:25px;
margin-top:30px;
font-family: Oxygen;
font-style: normal;
font-weight: bold;
	color: #32617A;
	text-transform: uppercase;
}

#afwachting3{
	border: 4px solid #FF2F55;
box-sizing: border-box;
border-radius: 10px;
line-height:31px;
text-align:center;
padding-bottom: 25px;
padding-top:25px;
margin-top:30px;
font-family: Oxygen;
font-style: normal;
font-weight: bold;
	color: #32617A;
	text-transform: uppercase;
}

#stap{
	position:absolute;
	margin-top:20px;
	margin-left:30px;
	background-color:white;
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	font-weight: bold;
}

#stap2{
	position:absolute;
	margin-top:40px;
	margin-left:60px;
	background-color:white;
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	font-weight: bold;
}

#stap3{
	position:absolute;
	margin-top:10px;
	margin-left:30px;
	background-color:white;
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	font-weight: bold;
}

#actieVan{
	position:absolute;
	margin-top:10px;
	margin-left:70px;
	background: #32617A;
	border-radius: 4px;
	font-size:13px;
	padding-left:10px;
	padding-right:10px;
	color: white;
	font-family: Oxygen;
	font-style: normal;
	font-weight: bold;
	text-transform: lowercase;
}

#actieVan2{
	position:absolute !important;
	margin-top:10px;
	margin-left:100px !important;
	background: #B8E2C4 !important;
	border-radius: 4px !important;
	font-size:13px !important;
	padding-left:10px !important;
	padding-right:10px !important;
	color: white !important;
	font-family: Oxygen !important;
	font-style: normal !important;
	font-weight: bold !important;
	text-transform: lowercase !important;
}

#actieVan3{
	position:absolute !important;
	margin-top:10px;
	margin-left:120px !important;
	background: #FF2F55 !important;
	border-radius: 4px !important;
	font-size:13px !important;
	padding-left:10px !important;
	padding-right:10px !important;
	color: white !important;
	font-family: Oxygen !important;
	font-style: normal !important;
	font-weight: bold !important;
	text-transform: lowercase !important;
}

#quickreminder{
	background: #32617A;
border-radius: 35.5px;
box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
margin-top:50px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
color:white;
font-weight: bold;
}

#quickcancel {

margin-top:20px;
text-align: center;
padding-top: 10px;
padding-bottom: 20px;
color:#32617A;
font-weight: bold;
}

#deadline{
position:absolute;
z-index:1;
	width: 110px;
height: 29px;
transform: translate(230px,-12px);
/*margin-left:250px;
margin-top:10px;*/
line-height:29px;
text-align: center;
color:white;
background: #FF2F55;
border-radius: 100px;

font-family: Oxygen;
font-style: normal;
font-weight: normal;
font-size: 16px;
}

#completedTransfer{

	max-width: 350px;
	max-height: 7600px;
	padding:10px;
	padding-bottom:20px;
		padding-left:20px;
		padding-right:20px;
	/* Datastreams - White */
	margin-top:20px;

background: #FFFFFF;
/* Shadow Button Datastreams */

box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
border-radius: 20px;
}

a:link{
	text-decoration:none;
	color: #4EB486;
}

.requestdetail_container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(224, 231, 240, .5);
}

.popupbox {
	background-color: white;
	border-radius: 20px;
	position: relative;
	padding: 32px;
	margin: 24px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}

.requestdetail {
	min-width: 820px;
	min-height: 500px;
	background-image: url('style/guy_folder.png');
	background-position: bottom -160px right 50px;
    background-repeat: no-repeat;
	background-size: 350px;
}

.closeButton {
	position: absolute;
	top: 32px;
	right: 32px;
	background-color: #32617A;
	border-radius: 50%;
	border: none;
	color: white;
	font-weight: bold;
	width: 30px;
	height: 30px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
}



.closeButton:hover {
	background-color: #587d90;
}

.closereq{
	position: absolute;
	top: 32px;
	right: 32px;
	background-color: #32617A;
	border-radius: 50%;
	border: none;
	color: white;
	font-weight: bold;
	width: 30px;
	height: 30px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	text-align: center;
}

.closereq:hover{
background-color: #587d90;
}

.inputLikeText {
	border: none;
	font-size: 22px;
	outline: none;
	display: block;
	margin-bottom: 8px;
}

.inputLikeText:hover {
	text-decoration: underline;
	border: none;
}

.inputLikeText:active {
	text-decoration: none;
	border: none;
}

.inputLikeText.title {
	font-weight: bold;
	font-size: 25px;
}

.inputLikeText.normal {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 24px;
}

.requestdetail label {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: block;
	margin-bottom: 8px;
}

.dateinput {
	color:white;
	background: #FF2F55;
	border-radius: 100px;
	font-family: Oxygen;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	border: none;
	padding: 8px 16px;
	outline: none;
}

.requestdetail aside{
	position: absolute;
	top: 94px;
	right: 32px;
}

.buttongroup {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	box-sizing: border-box;
}

.buttongroup.fullwidth button, .buttongroup.fullwidth {
	max-width: 100% !important;
	width: 100% !important;
}

.buttongroup button, .buttonCta {
	box-sizing: border-box;
	width: 200px;
	height: 40px;
	background: #E1E8F0;
	border-radius: 20px;
	color: #32617A;
	border: none;
	margin: 8px 0;
	font-weight: bold;
	font-size: 16px;
	outline: none;
	cursor: pointer;
}

.buttongroup button:hover {
	background: #becdde;
}

.buttongroup button.primairy, .buttonCta {
	background: #32617A;
	color: #E1E8F0;
}

.buttongroup button.primairy:hover, .buttonCta:hover {
	background: #517e95;
}

.currentstep_container {
	width: 350px;
	margin-bottom: 32px;
}

.contracttext {
	background: #E1E8F0;
	border-radius: 20px;
	border: none;
	padding: 24px;
	font-size: 18px;
	outline: none;
    width: 220px;
}

textarea {
	resize: none;
}

.next_step {
	/* max-width: 340px; */
}

.next_step_container {
	box-sizing: border-box;
	width: 100%;
	max-width: 380px;
	border: 4px solid #FF2F55;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 16px;
	position: relative;
	margin: 24px 0;
}

.next_step_container.done {
	border: 4px solid #B8E2C4;
}

.donebackground {
	background:  #B8E2C4 !important;
}

.stepAdd .next_step_container {
	border: 4px solid #32617A;

}

.next_step_container h1 {
	font-weight: bold;
    color: black;
	font-size: 20px;
    text-transform: uppercase;
	text-align: center;
}

.bottomtext_container {
	position: absolute;
    bottom: -33px;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.toptext_container {
	position: absolute;
    top: -17px;
    left: 32px;
    display: flex;
    justify-content: center;
}

.toptext_container p {
	background-color: white;
	padding: 0 16px ;
}

.bottomtext_container p {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #ECEFF8;
	border-radius: 40px;
	background-color: #FF2F55;
	padding: 8px 24px;
}


.popupcontainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	background-color: rgba(0, 0, 0, .4);
}

.popupcontainer .modal {
	margin: 16px;
}

.request_tile {
	max-width: 380px;
	background: white;
	position: relative;
	margin: 16px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
    padding: 32px;
}

.request_tile.stepAdd {
	padding: 1px 32px;
	cursor: pointer;
}

.fases {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.timeline_container {
	max-width: 380px;
	/* background: red; */
	position: relative;
	margin: 16px;
	border-radius: 20px;
    padding: 10px 32px;
}

.timeline_part {
	border-radius: 5px;
	width: 50%;
	height: 30px;
	box-sizing: border-box;
}

.timeline_part.right {
	border-left: 5px solid blue;
	border-top: 5px solid blue;
	border-radius: 20px 0 0 0;
	position: absolute;
	right: 0;
	bottom:0;
}

.timeline_part.left {
	border-right: 5px solid blue;
	border-top: 5px solid blue;
	border-radius: 0 20px 0 0;
	position: absolute;
	left: 0;
	bottom:0;
}

.timeline_part.done {
	border-color: #80BB00 !important;
}

.timeline_part.next_not_done {
	border-color: #3BB3E5 !important;
}

.timeline_part.right:after {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: block;
	position: absolute;
	top: -15px;
	right: -24px;
	font-size: 20px;
}

.timeline_part.right.next_not_done:after, .timeline_part.right.not_done:after {
	content: '\f09c';
}

.timeline_part.right.done:after {
	content: '\f00c';
	color: #80BB00;
}

.timeline_part.not_done {
	/* border-style: dashed; */
	border-color: #FF2F55 !important;
}

.faseName {
	text-align: center;
	margin: 32px;
}


.header {
	background:transparent;
	height: 70px;
	border-bottom: 2px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start; }
	.header .headerlogo {
	  height: 70px;
	  flex: 5;
	  align-self: flex-start; }
	  .header .headerlogo img {
		margin-top: 7px; }
	  .header .headerlogo b {
		margin-top: 58px;
		height: 70px;
		line-height: 65px;
		font-size: 30px;
		margin-left: 30px; }
	.header .headerpersonal {
	  flex: 1;
	  align-self: flex-end;
	  display: flex;
	  height: 45px;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  margin-bottom: 30px; }
	  .header .headerpersonal img {
		height: 60px;
		width: 60px;
		max-width: 60px;
		order: 1;
		flex: 1; }
	  .header .headerpersonal .pcontainer {
		margin-left: 10px;
		margin-top: 5px;
		order: 2;
		flex: 1; }
		.header .headerpersonal .pcontainer .pname {
		  font-size: 24px;
		  font-weight: bold;}
		.header .headerpersonal .pcontainer .pteam {
		  font-size: 18px; }
  .header i {
	margin-left: 40px;
	color: #32617A;
	font-size: 30px;
	cursor: pointer;
	transition: 0.2s;
  }
  .header i:hover {
	  color: #3BB3E5;
  }

  button {
	  transition: 0.2s;
  }

