body {
    font-family: 'Oxygen', sans-serif;
    background-color: #F0F3F7;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.RadioButtons {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mooieKnop {
    background-color: #32617A; /* Green */
    border-radius: 35.5px;
    color: white;
}

.mooieKnopB{
    background-color: #FF2F55; /* Green */
    border-radius: 35.5px;
    color: white;
}

.invulForm {
    position: absolute;
    margin-top: -80px;
}

#app {
    margin-left: 100px;
}

.opvulImage {
    position: absolute;
    margin-top: 80px;
    margin-left: 900px;
}

.watenwie {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 10px;
}

.templates {
    margin-bottom: 10px;
}

.invulForm {
    width: 500px;
}

.templateButton {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    width: 200px;
}

.templateButton:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translate(-2px, -2px);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}



[type=text] {
    background: white;
    border-radius: 20px;

}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    display: inline-block;
    border: black;

}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    padding: 20px;
    border-top: 3px solid #80BB00;
    border-bottom:3px solid #3BB3E5;
    background-image:
            linear-gradient(#80BB00, #3BB3E5),
            linear-gradient(#80BB00, #3BB3E5)
;
    background-size:3px 100%;
    background-position:0 0, 100% 0;
    border-radius: 10px;
    background-repeat:no-repeat;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.header {
    height: 120px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start; }
.header .headerlogo {
    height: 120px;
    flex: 5;
    align-self: flex-start; }
.header .headerlogo img {
    margin-top: 7px; }
.header .headerlogo b {
    margin-top: 58px;
    height: 120px;
    line-height: 120px;
    font-size: 30px;
    margin-left: 30px; }
.header .headerpersonal {
    flex: 1;
    align-self: flex-end;
    display: flex;
    height: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px; }
.header .headerpersonal img {
    height: 60px;
    width: 60px;
    max-width: 60px;
    order: 1;
    flex: 1; }
.header .headerpersonal .pcontainer {
    margin-left: 10px;
    margin-top: 5px;
    order: 2;
    flex: 1; }
.header .headerpersonal .pcontainer .pname {
    font-size: 24px;
    font-family: 'Oxygen', sans-serif; }
.header .headerpersonal .pcontainer {
    font-size: 18px; }

.headerB {
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
}

.headerB .headerpersonal {
    align-self: flex-end;
    display: flex;
    height: 60px;
    flex-direction: row;
    width: 200px;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 30px; }
.headerB .headerpersonal img {
    height: 60px;
    width: 60px;
    max-width: 60px;
    order: 1;
    flex: 1; }
.headerB .headerpersonal .pcontainer {
    margin-left: 10px;
    margin-top: 5px;
    order: 2;
    flex: 1; }
.headerB .headerpersonal .pcontainer .pname {
    font-size: 24px;
    font-family: 'Oxygen', sans-serif; }
.headerB .headerpersonal .pcontainer {
    font-size: 18px; }

.projectscontainer {
    margin-top: 50px;
    width: 100%;
    position: relative;
    /*padding-left: 120px;
      padding-right: 120px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start; }
.projectscontainer .project, .projectscontainer .projectadd {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    align-self: flex-start;
    display: block;
    width: 500px;
    height: 300px;
    background-color: blue;
    flex: none;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3); }
.projectscontainer .project .snapshot, .projectscontainer .projectadd .snapshot {
    position: absolute;
    top: 25px;
    height: 180px;
    left: 50%;
    transform: translateX(-50%); }
.projectscontainer .project .options, .projectscontainer .projectadd .options {
    position: absolute;
    border-radius: 0px 20px;
    top: 0;
    right: 0;
    display: block;
    background: #E1E8F0;
    width: 55px;
    height: 55px; }
.projectscontainer .project .options i, .projectscontainer .projectadd .options i {
    color: white;
    font-size: 35px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
.projectscontainer .project .titleproject, .projectscontainer .projectadd .titleproject {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    width: 165px;
    height: 30px;
    font-weight: bold;
    color: #32617A;
    font-size: 18px;
    border-radius: 5px; }
.projectscontainer .project .titleclient, .projectscontainer .projectadd .titleclient {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: block;
    width: 115px;
    height: 30px;
    color: #32617A;
    font-size: 18px;
    border-radius: 5px; }
.projectscontainer .project .addicon, .projectscontainer .projectadd .addicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 76px;
    color: #4EB486; }
.projectscontainer .invis {
    opacity: 0; }
.projectadd {
    cursor: pointer;
    transition: 0.3s; }
.projectadd:hover {
    transform: translate(-2px, -2px);
    box-shadow: #4EB486 6px 7px 0 0;
    /*&::after {
			content:"abs";
			width: 100%;
			height: 100%;
			background: #80BB00;
			display: block;
			transform: translate(4px, 4px);
		}*/ }
.project:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translate(-2px, -2px);
    box-shadow: #4EB486 6px 7px 0 0;
}
.options:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translate(-2px, -2px);
    box-shadow: #4EB486 6px 7px 0 0;
}
.titleproject {

}